@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #C6B9E4;
}

.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.Main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    background: #fcf9ef;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 4rem;
    border-radius: 2rem;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.Image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
}

.Image-container img {
    width: 100%;
    max-width: 420px;
    object-fit: contain;
    border-radius: 1rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 380px;
    padding: 2.5rem;
    background: #dcd7f5;
    border-radius: 1.5rem;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.form-container h1 {
    align-self: center;
    margin-bottom: 1rem;
}

.form-title {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 0.2rem;
    text-align: center;
    color: #333;
}

.form-subtitle {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 2rem;
    text-align: center;
    color: #555;
}



.user-input {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.user-input label {
    font-size: 0.9rem;
    font-weight: 600;
    text-align: left;
    margin-left: 0.3rem;
    color: #333;
}

.user-input input {
    font-size: 1rem;
    padding: 0.6rem;
    width: 100%;
    border-radius: 0.4rem;
    border: 1px solid #dcdcdc;
    background-color: #f7f7ff;
    outline: none;
}

.user-input input:focus {
    border-color: #b3b3ff;
    box-shadow: 0 0 4px rgba(150, 150, 255, 0.6);
}

.form-button {
    margin: 1.3rem auto 0 auto;
    width: 140px;
    padding: 0.6rem;
    border-radius: 0.5rem;
    border: 1px solid #00000040;
    background: #d8f4e3;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.2s ease-in-out;
}

.form-button:hover {
    transform: scale(1.05);
}

.loading-container {
    align-self: center;
    padding-bottom: 10px;
}

.register-link {
    text-align: center;
    margin-top: 0.8rem;
    font-size: 0.9rem;
    color: #444;
}

.register-link a {
    color: #6c63ff;
    font-weight: 600;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
    opacity: .9;
}

.small-text {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.85rem;
}

.small-text a {
    color: #3366ff;
    text-decoration: none;
    margin-left: 4px;
}

.small-text a:hover {
    text-decoration: underline;
}

@media (max-width: 900px) {
    .Main-content {
        flex-direction: column;
        text-align: center;
        width: 90%;
    }
    
}

